* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgb(23, 180, 120);
}

.sosyal-medya {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sosyal-medya div{
    display: inline;
}

.sosyal-medya div a {
    display: inline-flex;
    width: 80px;
    height: 80px;
    color: white;
    background: rgb(23, 180, 120);
    font-size: 45px;
    margin: 0 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sosyal-medya h2{
    position: relative;
    top: -50px;
    text-align: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sosyal-medya h2:hover{
    color: red;
}

.alt-kisim{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 38px;
    background-color: white;
}

.alt-kisim p{
    color: rgb(23, 180, 120);
    position: absolute;
    left: 48%;
    top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.sosyal-medya .github a:hover{
    background-color: #6e5494;
}

.sosyal-medya .reddit a:hover{
    background-color: #FF5700;
}

.sosyal-medya .steam a:hover{
    background-color: #171a21;
}

.sosyal-medya .lenster a:hover{
    background-color: #e139c8;
}

.sosyal-medya .airdrop a:hover{
    background-color: #b87512;
}